<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gitub.xl137010393.dao.IUserDao">

    <select id="findAll" resultType="com.gitub.xl137010393.entity.User">
        SELECT  * from  user
    </select>
</mapper>